/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 20, 2016, 5:04:48 PM
    Author     : dozyd
*/
/*iPhone 4 Header */
@media screen and (width:320px) and (height:480px){
    .site-logo {
        background:red;
    }

    .site-branding {
        background:purple;
        
    }

    .full-header {
 
    }

    #front-decoration {
        background:yellow;
        order:1;
        justify-content: flex-end;
    }
    #hero-text {
        background:orange;
        order:2;    
    }

    #headshot-image {
        background:green;
        order:3;
    }

    #full-hero-text {
        background:lawngreen;
        order:4;
    }

    .flex-container-nav {
        background:aliceblue;
        order:5;
    }
  
    
}
/*iPhone 5 Header */
@media screen and (min-height:568px){
    .site-logo {
        
    }

    .site-branding {

    }

    .full-header {
        font-size:30px;
    }

    .reduced-header {

    }

    #front-decoration {

    }
    #hero-text {

    }

    #headshot-image {

    }

    #full-hero-text {

    }

    .flex-container-nav {

    }


}
/*iPhone 4 & 5 Landscape Header */
@media screen and (max-height:320px){
   .flex-container {
       justify-content:center;
       align-content:center;
    }

    .site-logo {

    }

    .site-branding {
       justify-content:center;
       align-content:center;
    }

    .full-header {
        flex-direction:column;
    }

    .reduced-header {

    }

    #front-decoration {
        order:1;
    }
    #hero-text {
        order:2;
    }

    #headshot-image {
        order:4;
    }

    #full-hero-text {
        order:3;
    }
    
    .flex-container-nav {
        order:5;
    }

    .hero-info {
        background:purple;

    }
}

/*iPhone 6 Header */
@media screen and (min-height:667px){
    p#front-decoration {
        font-size:24px;
        align-self:flex-end;
        margin-right:.5em;
        margin-top: .75em;
        margin-bottom:.05em;
    }
    h1#hero-text {
        font-size:50px;
        margin-top:.75em;
        margin-bottom:.5em;
        letter-spacing:.05em;
        text-shadow: 5px 5px #000000;
    }

    img#headshot-image {
        width: 10em;
        height: 10em;
    }


    p#full-hero-text {
        font-size:1.25em;
        margin:1.25em 1.25em;
        text-shadow: 2px 2px #000000;
    }

    .nav-button {
        margin:0 1em;
        font-size:1em;
        font-weight:bold;
        width:9em;
        border-radius:5px;
    }
}
/*iPhone 6 Landscape Header */
@media screen and (height:375px){
    .flex-container {
        position:relative;
    }
    p#front-decoration {
        order:1;
        align-self:center;
        margin-right:0;
        margin-top:.5em;
        font-size:22px;
    }
    h1#hero-text {
        order:2;
        align-self:flex-start;
        font-size:50px;
        position:absolute;
        margin-top:5.75rem;
        margin-bottom:1rem;
        margin-left:1.25rem;
    }
    
    p#full-hero-text {
        order:2;
        width: 65%;
        align-self:flex-start;
        font-size:1.25rem;
        margin-top: 12rem;
        margin-left:1.25rem;
        padding:.25em;
        position:absolute;
        text-align:left;
    }
    .flex-container-nav {
        order:3;
        flex-direction:column;
        align-self:flex-end;  
        justify-content: space-between;
        margin-right:1.5em;
    }
    img#headshot-image {
        order:1;
        align-self:flex-end;
        width:9em;
        height:9em;
        margin-top:1.5rem;
        margin-bottom:.5em;
        margin-right:1.5em;
    }
    .nav-button{
        margin:1.25em;
        margin-right:0em;
        width:9em;
        font-size:1rem;
    }
}
/*iPhone 6 Plus Header */
@media screen and (min-height:730px){
    p#front-decoration {
        font-size:24px;
        align-self:flex-end;
        margin-right:.5em;
        margin-top: .75em;
        margin-bottom:.05em;
    }
    h1#hero-text {
        font-size:54px;
    }

    img#headshot-image {
        width: 12em;
        height: 12em;
    }
    p#full-hero-text {
        font-size:1.25em;
        margin:1.5em 1.25em;
        text-shadow: 2px 2px #000000;
    }
    .flex-container-nav {
        margin-top:2em;
    }
    .nav-button {
        margin:0 2em;
        font-size:1em;
        font-weight:bold;
        width:8em;
        border-radius:5px;
    } 
}
/*iPhone 6 Plus Landscape Header */
@media screen and (height:414px){
    .flex-container {
        position:relative;
    }
    p#front-decoration {
        order:1;
        align-self:center;
        margin-right:0;
        margin-top:.5em;
        font-size:22px;
    }
    h1#hero-text {
        order:2;
        align-self:flex-start;
        font-size:60px;
        position:absolute;
        margin-top:5.75rem;
        margin-bottom:1rem;
        margin-left:1.25rem;
    }
    
    p#full-hero-text {
        order:2;
        width: 65%;
        align-self:flex-start;
        font-size:1.5rem;
        margin-top: 12rem;
        margin-left:1.25rem;
        padding:.25em;
        position:absolute;
        text-align:left;
    }
    .flex-container-nav {
        order:3;
        flex-direction:column;
        align-self:flex-end;  
        justify-content: space-between;
        margin-right:1.5em;
    }
    img#headshot-image {
        order:1;
        align-self:flex-end;
        width:11em;
        height:11em;
        margin-top:1.5rem;
        margin-bottom:.5em;
        margin-right:1.5em;
    }
    .nav-button{
        margin:1.25em;
        margin-right:0em;
        width:10em;
        font-size:1.15rem;
    }
}

/*Samsung Galaxy SIII */
@media screen and (height:640px){
    p#front-decoration {
        font-size:24px;
        align-self:flex-end;
        margin-right:.5em;
        margin-top: .75em;
        margin-bottom:.05em;
    }
    h1#hero-text {
        font-size:50px;
        margin-top:.75em;
        margin-bottom:.5em;
        letter-spacing:.05em;
        text-shadow: 5px 5px #000000;
    }

    img#headshot-image {
        width: 10em;
        height: 10em;
    }
    p#full-hero-text {
        font-size:1.15em;
        margin:1.25em 1.25em;
        text-shadow: 2px 2px #000000;
    }
    .nav-button {
        margin:0 1em;
        font-size:1em;
        font-weight:bold;
        width:9em;
        border-radius:5px;
    }
}
/*Samsung Galaxy SIII Landscape*/
@media screen and (height:360px){
    .flex-container {
        position:relative;
    }
    p#front-decoration {
        order:1;
        align-self:center;
        margin-right:0;
        margin-top:.5em;
        font-size:22px;
    }
    h1#hero-text {
        order:2;
        align-self:flex-start;
        font-size:50px;
        position:absolute;
        margin-top:4.5rem;
        margin-bottom:1rem;
        margin-left:1.15rem;
    }
    
    p#full-hero-text {
        order:2;
        width: 65%;
        align-self:flex-start;
        font-size:1rem;
        margin-top: 10rem;
        margin-left:0;
        padding:.25em;
        position:absolute;
        
    }
    .flex-container-nav {
        order:3;
        flex-direction:column;
        align-self:flex-end;  
        justify-content: space-between;
        margin-right:1.5em;
    }
    img#headshot-image {
        order:1;
        align-self:flex-end;
        width:7em;
        height:7em;
        margin-top:2rem;
        margin-bottom:.5em;
        margin-right:1.5em;
    }
    .nav-button{
        margin:1em;

    }
}
/*Nexus 5X */
@media screen and (height:732px){
    p#front-decoration {
        font-size:24px;
        margin-top:.75em;
    }
    h1#hero-text {
        font-size:50px;
        margin-top:.5em;
    }
    p#full-hero-text {
        font-size:1.25em;
        margin:1.5em 1.25em;
        text-shadow: 2px 2px #000000;
    }
}
/*Nexus 5X Landscape*/
@media screen and (height:412px){
    .flex-container {
        position:relative;
    }
    p#front-decoration {
        order:1;
        align-self:center;
        margin-right:0;
        margin-top:.5em;
        font-size:22px;
    }
    h1#hero-text {
        order:2;
        align-self:flex-start;
        font-size:50px;
        position:absolute;
        margin-top:4.5rem;
        margin-bottom:1rem;
        margin-left:1.15rem;
    }
    
    p#full-hero-text {
        order:2;
        width: 65%;
        align-self:flex-start;
        font-size:1rem;
        margin-top: 10rem;
        margin-left:0;
        padding:.25em;
        position:absolute;
        
    }
    .flex-container-nav {
        order:3;
        flex-direction:column;
        align-self:flex-end;  
        justify-content: space-between;
        margin-right:1.5em;
    }
    img#headshot-image {
        order:1;
        align-self:flex-end;
        width:7em;
        height:7em;
        margin-top:2rem;
        margin-bottom:.5em;
        margin-right:1.5em;
    }
    .nav-button{
        margin:1em;

    }
}
/*Nexus 6P Landscape */
@media screen and (height:412px){
    .flex-container {
        position:relative;
    }
    p#front-decoration {
        order:1;
        align-self:center;
        margin-right:0;
        margin-top:.5em;
        font-size:22px;
    }
    h1#hero-text {
        order:2;
        align-self:flex-start;
        font-size:60px;
        position:absolute;
        margin-top:5.75rem;
        margin-bottom:1rem;
        margin-left:1.25rem;
    }
    
    p#full-hero-text {
        order:2;
        width: 65%;
        align-self:flex-start;
        font-size:1.5rem;
        margin-top: 12rem;
        margin-left:1.25rem;
        padding:.25em;
        position:absolute;
        text-align:left;
    }
    .flex-container-nav {
        order:3;
        flex-direction:column;
        align-self:flex-end;  
        justify-content: space-between;
        margin-right:1.5em;
    }
    img#headshot-image {
        order:1;
        align-self:flex-end;
        width:11em;
        height:11em;
        margin-top:1.5rem;
        margin-bottom:.5em;
        margin-right:1.5em;
    }
    .nav-button{
        margin:1.25em;
        margin-right:0em;
        width:10em;
        font-size:1.15rem;
    }
}

/* Begin Tablet Header Styles */
/*Portrait*/
@media screen and (min-width:750px) {
    
    /* LOGO styles */
    .site-logo a {
	position: absolute;
	z-index: 20;
	top: 1.5em;
	left: 1.5em;
	display: block;
	width: 4em;
	height: 4em;
	
}
.site-firstletter {
	font-family: 'Fira Sans', sans-serif;
	font-size: 3.25em;
	font-weight: 700;
	text-align: center;
	line-height: 1.3em;
}
/*main header styles */
    p#front-decoration {
        font-size:30px;
        margin-right:1.5em;
        margin-top: 1.25em;
        margin-bottom:.05em;
    }
    h1#hero-text {
        font-size:80px;
        margin-top:.5em;
        margin-bottom:.5em;
        letter-spacing:.05em;
    }

    img#headshot-image {
        width: 17em;
        height: 17em;
    }
    p#full-hero-text {
        color:lightgray;
        font-family: 'Fira Sans', sans-serif;
        font-size:2em;
        margin:1.25em 1.25em;
        text-shadow: 2px 2px #000000;
    }

    .nav-button {
        margin:0 2em;
        font-size:1.5em;
        width:8em;
    }   
}

/* Tablet Landscape Styles */

@media screen and (height:768px) and (width:1024px){
    
    p#front-decoration {
        font-size:30px;
        align-self:center
    }
    h1#hero-text {
        order:2;
        align-self:flex-start;
        font-size:100px;
        position:absolute;
        margin-top:12rem;
        margin-bottom:1rem;
        margin-left:2.5rem;
    }
    
    p#full-hero-text {
        order:2;
        width: 65%;
        align-self:flex-start;
        font-size:2rem;
        margin-top: 26rem;
        margin-left:2.5rem;
        padding-right:1.25em;
        position:absolute;
        text-align:left;
    }
    .flex-container-nav {
        order:3;
        flex-direction:column;
        align-self:flex-end;  
        justify-content: space-between;
        margin-right:1.5em;
    }
    img#headshot-image {
        order:1;
        align-self:flex-end;
        width:15em;
        height:15em;
        margin-top:3rem;
        margin-bottom:.5em;
        margin-right:4em;
    }
    .nav-button{
        margin:1.25em;
        margin-right:1.5em;
        width:15rem;
        font-size:1.5rem;
    }   
}

/*Laptop Screens (Small) */
@media screen and (min-width:1025px){
    .full-header {
    width:40%;
}
}

/*Laptop Screens (Large) */

@media screen and (min-width:1200px){
    .site-header {
        background:url(img/meg-lav-maui.jpg); 
        background-size:cover;
        
    }
    .full-header {

    }
    .flex-container {
        display:flex;

    }
    p#front-decoration {
        order:1;
        color:navy;
        margin-right:1.25em;
        margin-top: .5em;
        margin-bottom:.05em;
    }
    h1#hero-text {
        order: 2;
        font-size: 80px;
        color:#004459;
        font-weight:700;
        margin-top: 1em;
        margin-right: 2.5em;
        margin-bottom: .05em;
        letter-spacing: .05em;
        text-shadow: .5px .5px #02FF57;
        align-self: flex-end;
    }

    img#headshot-image {
        display:none;
    }

    p#full-hero-text {
        background:white;
        opacity:.7;
        border-radius:15px;
        order:3;
        width:35%;
        color:navy;
        font-family: 'Fira Sans', sans-serif;
        font-size:1.5rem;
        margin-top:1em;
        margin-right:6em;
        padding:.75em .5em;
        text-shadow: none;
        align-self:flex-end;
        font-weight:700;
    }

    .flex-container-nav {
        order:4;
        align-self:flex-end;
        margin-right:9em;
        margin-left:2em;
    }
    .nav-button {
        font-size:1.25em;
        padding:1em;
    }
    /* Begin Logo Styles */
    
    .site-logo a {
            top: 1.5em;
            left: 1.5em;
            width: 4em;
            height: 4em;
    }
    .site-firstletter {
	font-size: 3.5em;
	line-height: 1.3em;
    }
}